@"
bin/
obj/
/build
/Releases
/publish
/publish.sh
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
*.user
.vs/
Leashcode/
VRCOSC-Modules/
OSCLeash.sln
.cursorignore
"@ | Out-File -FilePath .gitignore -Encoding utf8

